@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;

}
:root{
--red:#db3a25;
--white:#FFFFFF;
--dark:#1e1c2a;
}
body{
    color: var(--dark);
    background: var(--white);
}
.navegacao{
display: flex;
align-items: center;
justify-content: space-between;
padding: 18px 40px;
box-shadow: 0 0 1rem 0.5rem #ccc;
width: 100%;
background: var(--white);
transition: all 0.5s;
}

.navegacao .Logo{
color: var(--red);
font-size: 1.7rem;
font-weight: 600;
}
.Logo span{
color: var(--dark);
}

.navegacao ul{
display: flex;
align-items: center;
gap: 5rem;
}

.navegacao ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
    position: static;
}
.navegacao ul li a:hover{
    color: var(--red);
}
.navegacao i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
cursor: pointer;
display: none;
}
.menu .barra{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 10px auto;
    transition: all 0.3s;
}
.menu .barra:nth-child(1),
.menu .barra:nth-child(3){
background: var(--red);
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
.home-text{
    max-width: 37rem;
}
.home-text .text-h4{
font-size: 1.2rem;
color: var(--red);
margin-bottom: 1rem;
}
.home-text .text-h1{
font-size: 4rem;
margin-bottom: 1.2rem;
line-height: 4rem;
}
.home-btn{
    padding: 10px 45px;
    background: var(--red);
    color: var(--white);
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.9s;
}
.home-btn:hover{
background: #fc4c35;
}
.home-img img{
    width: 100%;
}
@media(max-widht:785px){
    .navegacao{
        padding: 18px 20px;
    }
}